@color_1:#0f0f0f;
@color_1a:#161616;
@color_2:#606060;
@color_3:white;
@color_4:black;

.box-shadow{
-webkit-box-shadow: 6px 5px 10px 0px rgba(50, 50, 50, 0.22);
-moz-box-shadow:    6px 5px 10px 0px rgba(50, 50, 50, 0.22);
-o-box-shadow:      6px 5px 10px 0px rgba(50, 50, 50, 0.22);
box-shadow:         6px 5px 10px 0px rgba(50, 50, 50, 0.22);
}
.box-shadow2{
-webkit-box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.75);
-moz-box-shadow:    0px 0px 10px 0px rgba(50, 50, 50, 0.75);
-o-box-shadow:      0px 0px 10px 0px rgba(50, 50, 50, 0.75);
box-shadow:         0px 0px 10px 0px rgba(50, 50, 50, 0.75);

	#bottom {
		position:fixed;
		margin-left: 165px;
		padding:5px;
		bottom:0;
	}
	* {
				margin:0px;
				padding:0px;
			}
			
			#header {
				margin:auto;
				width:100%;
				height: 50px;
				font-family:Arial, Helvetica, sans-serif;
				background-color: black;
				-webkit-box-shadow: -1px 5px 37px -5px rgba(0,0,0,0.75);
				-moz-box-shadow: -1px 5px 37px -5px rgba(0,0,0,0.75);
				box-shadow: -1px 5px 37px -5px rgba(0,0,0,0.75);
			}
			
			ul, ol {
				list-style:none;
			}
			
			.nav > li {
				float:right;
			}
			
			.nav li a {
				background-color:#000;
				color:#fff;
				text-decoration:none;
				padding:10px 12px;
				display:block;
			}
			
			.nav li a:hover {
				background-color:#434343;
			}
			
			.nav li ul {
				display:none;
				position:absolute;
				min-width:140px;
			}
			
			.nav li:hover > ul {
				display:block;
			}
			
			.nav li ul li {
				position:relative;
			}
			
			.nav li ul li ul {
				right:-140px;
				top:0px;
			}
			#user {
				border-radius: 128px 128px 128px 128px;
				-moz-border-radius: 128px 128px 128px 128px;
				-webkit-border-radius: 128px 128px 128px 128px;
				border: 0px dotted #7a2b7a;
				width: 25px;
				height: 25px;
				background-color: white;
			}
			.logo {
				width: 100px;
				height: auto;
				float: left;		
			}
>>>>>>> refs/heads/YaccDevelop
